PS1="\[\e[1;36m\][\u@\h \W]\[\e[0m\]\\$ "
alias cgrep='egrep -v "^($|#)"'
alias nt='netstat -tnlp'
alias ntu='netstat -tnlpu'
alias cdnet='cd /etc/sysconfig/network-scripts/'
alias scandisk='echo - - - > /sys/class/scsi_host/host0/scan;echo - - - > /sys/class/scsi_host/host1/scan;echo - - - > /sys/class/scsi_host/host2/scan'
#export LC_ALL=C
