server {
    listen {{ httpServerPort }};
    server_name {{ ngServerName }};

    location ~/group[0-9]/ {
	ngx_fastdfs_module;
    }
    location / {
	root  {{ ngInstallDir }}/html;
        index  index.html index.htm;
    }
}

