<h1 style="font-size: 5rem"> Compile Nginx on <font color="#2ecc71">{{ ansible_hostname }}</font></h1>
<h1 style="font-size: 5rem"> IP: {{ ansible_all_ipv4_addresses }}</h1>
<h1 style="font-size: 5rem"> OS: {{ ansible_distribution }} {{ ansible_distribution_major_version}}</h1>
