<h1 style="font-size: 3rem"> {{ ansible_pkg_mgr }} Instll Nginx on Host：<font color="#2ecc71">{{ ansible_hostname }}</font></h1>
<h1 style="font-size: 3rem"> HostIP: <font color="#004FA8">{{ ansible_all_ipv4_addresses }}</font></h1>
<h1 style="font-size: 3rem"> HostOS: <font color="#F631D7">{{ ansible_distribution }} {{ ansible_distribution_major_version}}</font></h1>
