upstream kube-servers {
        hash $remote_addr consistent;
        server 192.168.1.61:6443 weight=5 max_fails=1 fail_timeout=3s;
        server 192.168.1.64:6443 weight=5 max_fails=1 fail_timeout=3s;
        server 192.168.1.66:6443 weight=5 max_fails=1 fail_timeout=3s;
}
server {
        listen 28443 reuseport;
        server_name localhost;

        location / {
                proxy_connect_timeout 3s;
                proxy_pass http://kube-servers;
        }
}

