{% set list=[32,12,15,18] %}
upstream webs {
  {% for i in list %}
  server 192.168.1.{{ i }}:80;
  {% endfor %}
}
# load balance

server {
    listen {{ ngPort }};
    server_name {{ ngServerName }};

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
    }
}
