[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/kubernetes/kubernetes
#After=network.target

[Service]
ExecStart={{ kuberPath }}/bin/kube-scheduler \
      --v=2 \
      --address=127.0.0.1 \
      --leader-elect=true \
      --kubeconfig={{ kuberPath }}/cfg/kube-scheduler.kubeconfig
#Restart=always
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

