{
  "CN": "admin",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "{{ Cvalue }}",
      "ST": "{{ STvalue }}",
      "L": "{{ Lvalue }}",
      "O": "system:masters",
      "OU": "{{ OUvalue }}"
    }
  ]
}
