{
    "CN": "kubernetes",
    "hosts": [
      "127.0.0.1",
      "192.168.6.1",
      "192.168.6.2",
      "192.168.6.3",
      "192.168.6.4",
      "192.168.6.5",
      "192.168.6.6",
      "192.168.6.7",
      "192.168.6.8",
      "192.168.6.9",
      "192.168.8.1",
      "192.168.8.2",
      "192.168.8.3",
      "192.168.8.4",
      "192.168.8.5",
      "192.168.8.6",
      "192.168.8.7",
      "192.168.8.8",
      "192.168.8.9",
      "10.255.0.1",
      "kubernetes",
      "kubernetes.default",
      "kubernetes.default.svc",
      "kubernetes.default.svc.cluster",
      "kubernetes.default.svc.cluster.local"
    ],
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "CN",
            "ST": "Shanxi",
            "L": "Datong",
            "O": "k8s",
            "OU": "system"
        }
    ]
}
