{
    "CN": "system:kube-controller-manager",
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
      {
        "C": "{{ Cvalue }}",
        "ST": "{{ STvalue }}",
        "L": "{{ Lvalue }}",
        "O": "system:kube-controller-manager",
        "OU": "{{ OUvalue }}"
      }
    ]
}

