{
    "CN": "kubernetes",
    "hosts": [
      "30.0.0.1",
      "127.0.0.1",
      "192.168.1.61",
      "192.168.1.62",
      "192.168.1.63",
      "192.168.1.64",
      "192.168.1.65",
      "192.168.1.66",
      "192.168.1.67",
      "192.168.1.68",
      "192.168.1.69",
      "192.168.1.81",
      "192.168.1.82",
      "192.168.1.83",
      "192.168.1.84",
      "192.168.1.85",
      "192.168.1.86",
      "192.168.1.87",
      "192.168.1.88",
      "192.168.1.89",
      "kubernetes",
      "kubernetes.default",
      "kubernetes.default.svc",
      "kubernetes.default.svc.cluster",
      "kubernetes.default.svc.cluster.local"
    ],
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "CN",
            "L": "caofei",
            "ST": "dt",
            "O": "k8s",
            "OU": "System"
        }
    ]
}
