KUBE_APISERVER_OPTS="--logtostderr=true \
--v=4 \
--log-dir={{ kuberPath }}/logs \
--etcd-servers={{ etcdAddrS }} \
--bind-address=0.0.0.0 \
--secure-port=6443 \
--insecure-port=0 \
--advertise-address={{ kvip }} \
--allow-privileged=true \
--enable-admission-plugins=NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,DefaultTolerationSeconds,NodeRestriction,ResourceQuota \
--authorization-mode=RBAC,Node \
--enable-bootstrap-token-auth=true \
--token-auth-file={{ kuberPath }}/cfg/token.csv \
--service-cluster-ip-range=10.96.0.0/16 \
--service-node-port-range=30000-32767 \
--kubelet-client-certificate={{ kuberPath }}/ssl/kube-apiserver.pem \
--kubelet-client-key={{ kuberPath }}/ssl/kube-apiserver-key.pem \
--tls-cert-file={{ kuberPath }}/ssl/kube-apiserver.pem  \
--tls-private-key-file={{ kuberPath }}/ssl/kube-apiserverr-key.pem \
--client-ca-file={{ kuberPath }}/ssl/ca.pem \
--service-account-key-file={{ kuberPath }}/ssl/sa.pub \
--service-account-signing-key-file={{ kuberPath }}/ssl/sa.key \
--service-account-issuer=https://kubernetes.default.svc.cluster.local \
--kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname \
--etcd-cafile={{ kuberPath }}/ssl/etcd-ca.pem \
--etcd-certfile={{ kuberPath }}/ssl/server.pem \
--etcd-keyfile={{ kuberPath }}/ssl/server-key.pem \
--requestheader-client-ca-file={{ kuberPath }}/ssl/front-proxy-ca.pem \
--proxy-client-cert-file={{ kuberPath }}/ssl/front-proxy-client.pem \
--proxy-client-key-file={{ kuberPath }}/ssl/front-proxy-client-key.pem \
--requestheader-allowed-names=aggregator \
--requestheader-extra-headers-prefix=X-Remote-Extra- \
--requestheader-group-headers=X-Remote-Group \
--requestheader-username-headers=X-Remote-User \
--enable-aggregator-routing=true \
--audit-log-maxage=30 \
--audit-log-maxbackup=3 \
--audit-log-maxsize=100 \
--audit-log-path={{ kuberPath }}/logs/k8s-audit.log"

