{
    "CN": "{{ CNvalue }}",
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "{{ Cvalue }}",
            "ST": "{{ STvalue }}",
            "L": "{{ Lvalue }}",
            "O": "{{ Ovalue }}",
            "OU": "{{ OUvalue }}"
        }
    ],
    "ca": {
       "expiry": "876000h"
    }
}
