{% set cluster_address=[] %}
{% for host in groups['ceph'] %}
{% set ceph_ip = hostvars[host]['ansible_default_ipv4']['address'] %}
{% set _ = cluster_address.append("{}".format(ceph_ip)) %}
{% endfor %}
{
    "CN": "etcd",
    "hosts": [
    "{{ cluster_address | join('",\n    "') }}"
    ],
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "CN",
            "ST": "Shanxi",
            "L": "Datong",
            "O": "k8s",
            "OU": "system"
        }
    ]
}
