[mysqld]
#symbolic-links=0
innodb_file_per_table=1

#server-id=2
port={{ dbPort }}
basedir={{ BASEDIR }}
datadir={{ DATADIR }}
socket=/tmp/mysql.sock
pid-file={{ DATADIR }}/mysql.pid
log-error={{ DATADIR }}/mysql.err
user=mysql
#key_buffer_size=16M
default_authentication_plugin=mysql_native_password
explicit_defaults_for_timestamp=true

#validate_password_policy=low
#validate_password_mixed_case_count=0
#validate_password_number_count=0
#validate_password_special_char_count=0
#validate_password_length=2

#validate_password.policy=low
#validate_password.mixed_case_count=0
#validate_password.number_count=0
#validate_password.special_char_count=0
#validate_password.length=2


log-bin={{ DATADIR }}/bin  #  bin开头的文件生成在了{{ DATADIR }}/下，如：bin.000001
#bind-address=127.0.0.1

[client]
socket=/tmp/mysql.sock

[mysql.server]
default-character-set=utf8mb4
user=mysql

[mysqldump]
quick
max_allowed_packet = 32M
